
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Georgia", "Times New Roman", serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 20px; line-height: 25px; font-family: 'trebuchet_msbold'; color: white; text-align: right}
	h2 { font-size: 30px; line-height: 30px; margin-bottom: 10px; font-family: 'trebuchet_msbold'; color: #a8bbcb}
	h3 { font-size: 18px; line-height: 19px; margin-bottom: 8px; font-family: 'trebuchet_msbold'; color: white}
	h4 { font-size: 18px; line-height: 30px; margin-bottom: 4px; font-family: 'trebuchet_msbold';color: white}
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0;font: 13px/14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: white ; text-align: right}
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong {font-size: 25px; line-height: 25px; margin-bottom: 10px; font-family: 'trebuchet_msbold'; color: #a8bbcb }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: white; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #c4c4c4 }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px}
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 510px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

/* Header menu
================================================== */
.az{background: #1d6fa1;height: 150px}
.az2{background: #1d6fa1;height: 50px; border-radius: 0px 0px 20px 20px; position: absolute; margin-left: 700px; margin-top: 150px; width: 400px; z-index: 9999}
.az2 ul li{list-style: none; display: inline; margin: 10px; font-family: 'trebuchet_msbold'; color: white; font-size: 16px}
.az2 ul {padding: 10px 20px}
.az2 ul li:hover{color: #a8bbcb}
.menu2{ background: url(../images/pattern.png);width: 100%; height: 830px; position: absolute; margin-top:0; z-index: 99999}
.menu3{ background: url(../images/pattern.png);width: 100%; height: 700px; position: absolute; margin-top:0; z-index: 99999}
.menu{ background: url(../images/pattern.png);width: 100%; height: 1050px; position: absolute; margin-top:0; z-index: 99999}
.more{height: 850px}
.more2{height: 1050px}
.more3{height: 930px}

.menu img,.menu2 img,.menu3 img{margin: 20px auto; display: block}
.menu ul,.menu2 ul,.menu3 ul{list-style: none; margin: 40px 45px}
.menu ul li, .menu2 ul li, .menu3 ul li{margin-top:20px}
.menu h3:hover, .menu2 h3:hover; .menu3 h3:hover{color: #a8bbcb}

/* Header slider
================================================== */
.cbp-qtrotator {
	position: relative;
	margin: 0 auto 0 280px;
	padding-top: 40px;
	width: 700px;
	min-height: 400px;
	border: none;
}

.cbp-qtrotator .cbp-qtcontent {
	position: absolute;
	min-height: 200px;
	padding: 0 0;
	top: 0;
	z-index: 0;
	opacity: 0;
		border: none

}

.no-js .cbp-qtrotator .cbp-qtcontent {
	border-bottom: none;	border: none

}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
	position: relative; 
	z-index: 100;
	pointer-events: auto;
	opacity: 1;
		border: none

}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
	content: " ";
	display: table;
		border: none

}

.cbp-qtrotator .cbp-qtcontent:after {
	clear: both;
}
/* footer 
================================================== */
.line{background: white; width: 100%;height: 40px; box-shadow: inset 0px 5px 12px rgba(0,0,0,0.6)}
.foot{background: url(../images/footer.jpg); height: 98px}
.info h2{font-size: 28px; margin-top: 20px}
.info p{text-align: left; margin-top: -5px; font-weight: 500}
/* Index
================================================== */
.home{background: #373b44;height: 900px}
.homer{background: #373b44;height: 700px}
.home2{background: #373b44;height: 780px}

.cont{ background-image: url(../images/fi.jpg) ; background-repeat: no-repeat; height: 500px; margin-top: 0px;float: right; background-size: 100%;height: 900px}
.indimg{margin-left: 140px; margin-top: 50px; position: absolute}

/* Empresa
================================================== */
.grey{background: #373b44;height: 100px}

.indimgbot{zoom:70%;margin:-280px 0px 0 170px; position: absolute}
.empresa{background: url(../images/empresa.jpg); height: 680px;width: 100%; margin-top: 0px;float: right;background-repeat: no-repeat; background-size: 100%}
.em{padding-top: 380px}
.empresa h1{margin: 20px 0px 0 200px ;float: left}

.empresa p{margin: 40px 0px 0 200px; text-align: left}
/* Contacto
================================================== */
.contacto{background: url(../images/contacto.jpg); height: 680px;width: 100%; margin-top: 0px;float: right;background-repeat: no-repeat; background-size: 100%}
.con form{margin-left: 100px;padding-top: 50px}
.con{background: rgba(0,0,0,0.7); margin-left: 200px;margin-top: 100px;height:580px}
/* Imagenes
================================================== */
  .imgteaser { /* es el bloque general */
    overflow: hidden;
    position: relative;
    width:227px;
  }
  .imgteaser img{       border-radius: 30px;
}
  .imgteaser a {text-decoration: none;}
  .imgteaser a:hover {cursor: pointer;}
  .imgteaser a img { /* la imagen en si misma */

    border: none;
    margin: 0;
    padding: 10px; /* le ponemos un marco alrededor */
    width: 220px; /* forzamos el tama침o de la imagen */
  }
    .imgteaser a .desc {display: none;}
  .imgteaser a:hover .more {visibility: hidden;}
  .imgteaser a:hover .desc { /* es el texto del caption en si mismo */
    background-color:#000000; /* color de fondo */
    display: block;
    margin: 0;
    width: 200px; /* ocupar치 el mismo ancho de la imagen */
    /* las propiedades del texto */
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    /* transparencia */
    filter:alpha(opacity=75);
    opacity:.75;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
    /* lo posicionamos abajo y a la derecha sin importar la altura de la imagen */
    position: absolute;
    bottom: 15px;
    left: 10px;
    height: 20px;
border-radius: 0px 0px 20px 20px
  }
  .imgteaser a:hover .desc h4 { /* el texto LEER MAS */
    display: block;
    font-size: 15px;
    padding-right: 8px;
text-align: right
  }
  
  /* Catalogo Etiquetas
================================================== */
.etiquetas{background: url(../images/etiquetaf.jpg); height: 680px;width: 100%; padding-left: 40px;float: right;background-repeat: no-repeat; background-size: 100%}
.etiquetasint1{background: url(../images/etad.jpg); height: 900px;width: 100%; padding-left: 40px;float: right;background-repeat: no-repeat; background-size: 100%}
.etiquetasint2{background: url(../images/etp.jpg); height: 780px;width: 100%; padding-left: 40px;float: right;background-repeat: no-repeat; background-size: 100%}
.ropaf{background: url(../images/ropaf.jpg); height: 750px;width: 100%; padding-left: 40px;float: right;background-repeat: no-repeat; background-size: 102%}

.indimget{margin:60px 0px 0 150px; position: absolute}
  .imgetiqueta { /* es el bloque general */
    overflow: hidden;
    position: relative;
    width:333px;
     background: white;
      border-radius: 30px;
      margin: 10px

  }
  .imgetiqueta img{         
; border-radius: 30px;
}
  .imgetiqueta a {text-decoration: none;}
  .imgetiqueta a:hover {cursor: pointer;}
  .imgetiqueta a img { /* la imagen en si misma */

    margin: 0;
    padding: 10px; /* le ponemos un marco alrededor */
    width: 311px; /* forzamos el tama침o de la imagen */
  }
    .imgetiqueta a .desc {display: none;}
  .imgetiqueta a:hover .more {visibility: hidden;}
  .imgetiqueta a:hover .desc { /* es el texto del caption en si mismo */
    background-color:#000000; /* color de fondo */
    display: block;
    margin: 0px;
    width: 293px; /* ocupar치 el mismo ancho de la imagen */
    /* las propiedades del texto */
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    /* transparencia */
    filter:alpha(opacity=75);
    opacity:.75;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
    /* lo posicionamos abajo y a la derecha sin importar la altura de la imagen */
    position: absolute;
    bottom: 15px;
    left: 10px;
    height: 35px;
border-radius: 0px 0px 20px 20px
  }
  .imgetiqueta a:hover .desc h4 { /* el texto LEER MAS */
    display: block;
    line-height: 110%;
    font-size: 17px;
    padding-right: 8px;
text-align: center
  }
  
    /* Catalogo Ribbons
================================================== */
.ribbon{background: url(../images/ribbonf.jpg); height:700px;width: 100%; padding-left: 40px;float: right;background-repeat: no-repeat; background-size: 102%}
.esp{margin: 10px 0 0 150px; background: white; border-radius: 12px;height: 280px;box-shadow: 1px 4px 2px rgba(0,0,0,0.5); width: 370px; float: left; display: inline; margin-left: 10px; margin-right: 10px }
.esp2{margin: 10px 0 0 150px; background: white; border-radius: 12px;height: 150px;box-shadow: 1px 4px 2px rgba(0,0,0,0.5); width: 370px; float: left; display: inline; margin-left: 10px; margin-right: 10px; padding-left }

.rib{margin-left: 150px; margin-top: 60px}
.rib img, .esp2 img{margin-top: 15px}
.rib h1{color: black; font-size: 16px;line-height: 110%;text-align: left; margin-top: 15px; margin-bottom: 7px}
 .esp2 h1{color: black; font-size: 16px;line-height: 110%;text-align: left; margin-top: 10px; margin-bottom: 7px}
.rib p, .esp2 p{font-size: 11px;line-height: 110%; color: black; text-align: left; margin-bottom: 10px}
.space{padding-left: 10px}
.rib ul li{ font-size: 11px; color: black; list-style: inside disc}
.rib li{margin-bottom: 5px; line-height: 120%}
.b{float: right; margin-top: 10px}
.black{ background-color: black; border-radius: 10px 0px 0px 10px; height: 40px}
.black h1{padding: 7px 10px; text-align: left; }